.profile {
    width: 100%;
    height: 550px;
}

.container2 {
    position: relative;
    background-color: rgb(237, 237, 237);
    width: 80%;
    height: 550px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 0.5px solid rgb(191, 189, 189);
}

.container2 h2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    font-weight: 500;
    font-size: 28px;
    border-bottom: 0.5px solid rgb(191, 189, 189);
}

.line {
    width: 92%;
    margin: 0 auto;
    background-color: aliceblue;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.box input,select {
    width: 300px;
    height: 40px;
    border: 1px solid rgb(198, 198, 198);
    padding: 5px;
    border-radius: 4px;
}

.form-group,.section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    width: 100px;
    font-weight: bolder;
}

.change {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: rgb(98, 170, 234);
    text-decoration: underline;
}

.change:hover {
    color: peru;
    cursor: pointer;
}

.save {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background: peru;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.save:hover {
    cursor: pointer;
}

.sidebar {
    width: 15%;
    height: 450px;
    border-right: 0.5px solid rgb(191, 189, 189);
    display:flex;
    flex-direction: column;

}

#button {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 0.5px solid rgb(191, 189, 189);
}

#button:hover {
    color: peru;
    cursor: pointer;
    background-color: rgb(249, 249, 249);
    font-size: 14px;
    font-weight: 500;
}

.box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

#button.active {
    background-color: white;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.item {
    display: flex;
    align-items: center;
}

.information p {
    width: 350px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    padding-left: 14px;
    font-weight: 400;
    font-size: 17px;
    color: peru;
    border-radius: 4px;
    border: 0.5px solid rgb(209, 209, 209);
}

.item label {
    width: 120px;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 18px;
}