.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}


.navbar .logo {
    margin-left: 100px;
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #4C3F3A;
    font-size: 18px;
}

.navbar-right {
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.navbar-right .sign-btn {
    background: peru;
    font-size: 16px;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.navbar-right .sign-btn:hover {
    opacity: 50%;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid peru;
}

.navbar li {
    cursor: pointer;
}

/* __________________BASKET__________________ */
.navbar-basket {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-basket img {
    margin: 0 auto;
}

.navbar-basket .dot {
    position: absolute;
    width: 1vw;
    height: 1vw;
    max-width: 10px;
    max-height: 10px;
    background-color: rgb(205, 63, 63);
    border-radius: 50%;
    border: none;
    right: -2px;
    bottom: 0px;
}

/* __________________SEARCH__________________ */
.navbar-search {
    position: absolute;
    right: 150%;
    top: 50%;
    transform: translateY(-50%);
    height: 38px;
    width: 12em;
}

.navbar-search input[type="text"] {
    padding: 0.5em 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 12em;
    position: relative;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.navbar-search .search-btn {
    position: absolute;
    background-color: peru;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0.5em;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.navbar-search .search-btn img {
    filter: brightness(0) invert(1);
}

.navbar-search .search-btn:hover {
    opacity: 0.75;
}

.sub-search-icon {
    display: none;
}

/* __________________SEARCH-dropdown__________________ */
.suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.suggestion-item{
    padding-left: 0.75rem;
    border-bottom: 1px ridge;
}

.suggestion-item:hover{
    background-color: peru;
    color:#fff;
}

@media (max-width: 1400px) {
    .navbar-search {
        display: none;
        position: absolute;
        right: 80%;
        top: 200%;
    }

    .sub-search-icon {
        display: block;
    }
}

/* __________________PROFILE__________________ */
.navbar-profile {
    position: relative;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid white;
    outline: 2px solid peru;
    list-style: none;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: peru;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px) {
    .navbar-menu {
        display: none;
        gap: 15px;
        font-size: 16px;
    }
}