.header{
    height: 34vw;
    margin: 80px auto;
    background: url('./header_img.png') no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
    text-align: center;
}   

.header-contents p{
    color: white;
    font-size: 1vw;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
    text-align: center;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}


.header-contents button:hover {
    background-color: peru;
    color: white;
}
@media (max-width: 1050px) {
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents{
        max-width: 65%;
    }

    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}
